
.icon-light-up:before { content: '\e800'; } /* '' */
.icon-adjust:before { content: '\e801'; } /* '' */
.icon-left-big:before { content: '\e802'; } /* '' */
.icon-right-big:before { content: '\e803'; } /* '' */
.icon-picture:before { content: '\e804'; } /* '' */
